.login {
  height: 100vh;
  background-color: rgb(131, 238, 236);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 90%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("../../assets//loginback.jpeg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 80%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }


  .google-login {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #db4437;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;

    img {
      width: 30px;
      height: 30px;
    }

    span {
      font-size: 16px;
    }

    &:hover {
      background-color: #bf2f25;
    }
  }
}
