.workout-plans-container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;

    .workout-plans {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;

        .workout-plan-card {
            background-color: #f0f0f0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: left;

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 5px;
            }
        }
    }
}
